################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/*/*/.vs/*
*.exe
*.bin
/.vs
/*/*/Properties
/*/*/.vs/*
/*/*/obj
/*/*/bin/Debug/net6.0

/GenericConsoleApp/GenericConsoleApp/bin/Debug/net7.0
